<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".EnglishLearningApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="English Learning"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishLearning">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".launch.BrandLaunchActivity"
            android:exported="true"
            android:theme="@style/Theme.EnglishLearning.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
